{% extends 'blog/base.html' %}
{% load static %}

{% block content %}
<div class="col-sm-10">
    <h3 class="text-white my-5">About Page</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt tempore quibusdam perferendis deserunt, repellat blanditiis pariatur est accusamus, laborum quis maxime impedit dolore id eum ea atque neque? Iure, perspiciatis?Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis temporibus voluptatem eligendi.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur ex pariatur placeat nesciunt corrupti debitis voluptatem asperiores explicabo ab est, sapiente nemo minus nam vitae quod dicta voluptatum provident facilis. Praesentium quasi quae debitis laborum quisquam consequatur, cumque consequuntur minima obcaecati unde corporis nobis! Nobis error reiciendis provident amet magnam?</p>

   
</div>
{% endblock content %}